@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
 }
.slide{
    position: absolute;
    right: 100px;
}
/* header */


.img{
    width: 200px;
    margin-left: 20px;
    
}
header ul{
    
    float: left;
    margin-top: 5px;
    width: 97%;
    background-color: red;
    color: white;
    list-style: none;
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: -5px;
}
header ul li{
    float: left;
    background-color: yellow;
    line-height: 60px;
    margin-right: 20px;
    line-height: 3;
    

    
     
     
}
/* left */

h1{
 border-bottom: 4px solid grey;
 border-left: 3px solid #000;
 margin-left: 5px;
 margin-top: -5px;
 font-size: 30px;
}
.date{
    margin-left: 5px;
    margin-top: -5px;
    font-size: 12px;
}
.kadai, .second-title {
    margin-left: 5px;
    margin-top: -5px;
    font-size: 15px;
}



.left{
    float: left;
    width:80%;
    height:1600px;
    border-right:  5px solid blue;
    border-top: 5px solid blue;
    border-bottom: 5px solid blue;

}
.abc{
    margin-left: 200px;
}
.スライド1, .スライド2, .スライド3, .スライド4 {
    margin-left:  230px;
    width: 1200px;
    
}
.box2, .box1{
    display: flex;
    font-size: 12px;
    margin-left: 5px; 
    margin-bottom: 30px;
}
.box2{
    margin-top: -45px;
    margin-bottom: -30px;
    
    
}
.box-pic8{
    width: 50%;
    margin-top: 20px;
    margin-right: 100px;
    
    
}
.pic-text{
    margin-top: -3px;
    margin-right: 40px;
    margin-bottom: 15px;
    font-size: 15px;
}
.box-pic2{
    text-align: center;
    
}
.box-pic2:not(:first-child){
margin-left: -40px;

}
.box-bgc{
    background-color: lightgray;
    margin-left: 5px;
    height: 480px;
   
  
}

.pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8{
    width: 250px;
    margin-left: 60px;
    
}
/* right */


.right{
    width: 19%;
    float: left;
    height: 1600px;
    margin-left:20px;
    margin-left: 2px;
    border-left:  5px solid red;
    border-top: 5px solid red;
    border-bottom: 5px solid red;

}


.right-nikkititle{
    border-bottom: 3px solid lightgray;
    font-size: 20px;
    width: 230px;

}
.right-nikkititle-list{
    font-size: 15px;
    margin-left: 20px;
}









/* footer */
footer{
    width: 99%;
    margin-top: 10px;
    clear: both;
    background-color: black;
    color: white;
    margin-bottom: 0;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-left: 5px;

}
